
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background: linear-gradient(135deg, #7287e4, #a2664b);
    color: #1f2937;
}

h1
{
    color: #d6c6d0;
    font-size: 54px;
}
.order-summary {
    width: 90%;
    max-width: 500px;

    padding: 30px;

    background: #ffffff;
    border-radius: 16px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);

}


.order-summary h2 {
    margin-top: 0;
    margin-bottom: 25px;

    text-align: center;

    color: #daaba3;
    font-size: 28px;
}

.order-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 0;

    border-bottom: 1px solid #e5e7eb;

    font-size: 16px;
}

.order-info:last-child {
    border-bottom: none;
}

.order-info strong {
    color: #374151;
}

.order-info span {
    color: #6b7280;
}

.status {
    margin-top: 20px;
    padding: 14px;

    border-radius: 10px;

    text-align: center;
    font-weight: bold;
}


.status.green {
    background: #dcfce7;
    color: #166534;
}


.status.yellow {
    background: #fef3c7;
    color: #92400e;
}


.status.red {
    background: #fee2e2;
    color: #991b1b;
}



@media (max-width: 500px) {

    .order-summary {
        padding: 22px;
    }

    .order-summary h2 {
        font-size: 24px;
    }

    .order-info {
        font-size: 14px;
    }
}